.stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
  gap: 20px;
  background-color: var(--timer-warning-bg);
  max-height: 80vh;
}

.laps-container {
  border-radius: 10px;
  min-height: 70%;
  width: 100%;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  color: black;
}

.lap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.header {
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.even {
  background: #f9f9f9;
}

.odd {
  background: #ffffff;
}

.lap h3,
.lap p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}
