.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0.75rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  transition: value 0.5s ease-in-out;
}

input {
  padding: 0.5;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  min-width: 80px;
  margin: 0.5rem;
  max-width: 50px;
  background-color: antiquewhite;
}

.blink {
  animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
